body {
    font-size: 14px;
    font-family:"tahoma";
    margin: 0;
    background: #fff;
    color: #000;
    }
    h1{
    font-color:#000;
    font-size:28px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-top: 4%;
    background: #fff;
    }
    h3{
        margin: 20%; 
        text-align: center;
        font-size: 9px;
       }
    p{
        margin: 0;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        
    }
    #imgl{
         border-radius: 10px 0px 0px;
         
    }
    #imgr{
         border-radius: 0px 10px 0px;
    }
    .imgl{
   /* largura do box */
    width:50%;
    /* altura do box */
    height:100%;
    float: left;
    }
    .imgl img{
                opacity: 1.0; /*esta linha é a que escurece a imagem*/
                       } 
            .imgl img:hover{
                opacity: 0.5; /*esta linha é a que clareia a imagem*/
                             }
            .imgl img:hover{
                -webkit-filter:grayscale(100%);
                transition:ease-in;
                             }
    .imgr{
    border-radius: 10px 20px 30px;
    /* largura do box*/
    width:50%;
    /* altura do box */
    height:100%;
    float: left;
    }
    .imgr img{
                opacity: 1.0; /*esta linha é a que escurece a imagem*/
                       } 
            .imgr img:hover{
                opacity: 0.5; /*esta linha é a que clareia a imagem*/
                             }
            .imgr img:hover{
                -webkit-filter:grayscale(100%);
                transition:ease-in;
                             }
        
