body{
    font-family:tahoma, verdana;
}
#top{
    width: 100%;
    height: 100%;
    margin: 0;
    float: right;
    background-color: #fff;
    }
    #topl{
    width: 50%;
    height: 50%;
    margin: 0;
    float: left;
    
    background-color: #fff;
    }
    #topr{
    width: 50%;
    height: 50%;
    margin: 0;
    float: left;
    background-color: #fff;
    }
    .banner{
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
   
    #inicio,#ascensao, #microsoft,#morte {
        font-size: 18px;
        color: #1b1c1c;
        font-weight: bold;
    }
 .corpo{
    width: 100%;
    height: 60%;
    margin-left: 10%;
    clear: left;
    background-color: #fff;
    text-align:left;
    
        }   
        
 .rodape{
    width: 100%;
    height: 60%;
    margin: 0;
    background-color: #f3f;
    } 

    h1, h2{
        margin:0;
        color:#696969;
        font-size: 13px;
        
    }
   
   .logo{
        max-width: 40%;
        display: block;
        margin-left: auto;
        
    }
    #resenha{
        width: 80%;
        margin-left:5%;
        font-size: 12px;
        font-family: sans-serif;
        text-align:justify;
    }
    a{
        color: #1b1c1c;
    }

/*
#geral{
    width: 100%;
    height: 100%;
    background-color: #f6f8f7;
    border-color: #545554;
}
#esquerdo_top{
    margin: 0;
    width: 40%;
    height: auto;
    float: left;
    text-align: right;
    }
#direito_top{
    margin: 0;
    width: 60%;
    height: auto;
    float: left;
  }
.bill img{
    margin: 0;
    float: left;
    text-align: right;

}
#back{
    clear: left;
    text-align: right;
    width: 60%;
}

#menu{
    width: 60%;
    font-size: 16px;
    float:left;
    text-align: left;
}

body
{
    font-size: 14px;
    font-family:"tahoma";
    margin: 0;
    background: #fff;
    color: #000;
    }
    h1{
        margin: 0;
        
    }
    h2{
    color: #545554;
    font-size:48px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin: 0;
    float: left;
    text-align: left;
    }
    #corpo{
        width: 50%;
        align-items: center;
    }
    #inicio{
        margin: 0;
    width: 100%;
    height: auto;
    float: left;
    text-align: right;
   
    }
    #rodape{
        margin: 0;
        text-align: center;
        font-size: 9px;
    }

*/
